@import "media";

.grid {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	> .column {
		display: block;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
	}
}

.level {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	> .level-spacer {
		flex-grow: 1;
	}
}

.container {
	margin-left: 10px;
	margin-right: 10px;
	@include desktop {
		margin-left: 10%;
		margin-right: 10%;
	}
}
