@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400,600');

@mixin font-monospace {
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
}

@mixin font-normal {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@mixin font-semibold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

body {
	@include font-normal;
}
